<div class="header">
      <a><%= link_to 'logo', homes_path,class:"logo" %>
    </a>
      <div class="header-right">
        <%= link_to 'Logout', logout_path, method: :delete  %>
      </div>
</div>