<div class="header">
      <a><%= link_to 'logo', homes_path,class:"logo" %>
    </a>
      <div class="header-right">
        
        <a><%= link_to 'Home', homes_path,class:"active" %>.

        <a><%= link_to 'Login', sessions_new_path %></a>
        <a><%= link_to 'Create Account', new_user_path%></a>
      </div>
</div>